.modal {
    position: fixed;
    top: 50px;
    left: 50px;
    
    padding: 30px 50px;

    font-size: 24px;
    line-height: 30px;

    background-color: #abf10633;
    border: 1px solid rgba(171, 241, 6, 0.2);
    border-radius: 20px;
}