#repair {
    left: 0px;
}

#theyallow {
    left: 100%;
}

body {
    max-width: 1000px;
    margin: 0 auto;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    text-align: left;
    color: #9da5b4;

    background-color: #24292e;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;

    color: #d6d8da;
}

h1 {
    margin-bottom: 30px;

    font-size: 32px;
    line-height: 36px;
}

h2 {
    font-size: 25px;
    line-height: 30px;
}

a {
   font-family: 'Ubuntu Mono', monospace;
   line-height: 30px;
   color: #d6d8da;
   text-decoration: none;
}

li a {
    border-bottom: 1px solid #d6d8da;
}

ul {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 15px;

    font-size: 20px;
    line-height: 30px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px 15px;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.info__accounts {
    text-align: center;
}

a.info__github, a.info_telegram {
    border: none;
}

.education {
    padding: 10px;
    margin: 0 auto;
}

.education__list {
    list-style: none;
}

.education__list ul {
    list-style-position: inside;
    list-style-type: disc;
}

.education__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px 10px 10px;
    margin-bottom: 15px;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px;
    line-height: 30px;
    color: #d6d8da;
    
    background: transparent;
    border: 1px solid #d6d8da;
    cursor: pointer;
    opacity: 0.8;
}

.education__title:hover,
.education__title:focus {    
    background-color: rgba(255, 255, 255, .1);
    opacity: 1;
}

.education__arrow {
    transform: rotate(90deg);
}


.projects {
    padding: 10px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.projects__title {
    padding: 10px 30px 10px 10px;
    margin-bottom: 10px;
    
    border-bottom: 1px solid #d6d8da;
}

.slider {
    position: relative;

    width: 100%;

    text-align: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;

    font-size: 20px;
    color: #d6d8da;

    background-color: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    z-index: 9999;

    display: none;
}

.arrow:hover, .arrow:focus, .arrow:active {
    background-color: rgba(255, 255, 255, .2);
}

.arrow__prev {
    left: 1%;
    right: auto;
}

.arrow__next {
    left: auto;
    right: 1%;
}

.arrow__prev-icon {
    transform: rotate(180deg);
}

.project__wrap {
    position: relative;
    
    width: 100%;

    overflow: hidden;
}

.project {
    position: relative;

    margin: 0 auto;
    
    background-color: #31363f;

    animation: 0.5s ease-in-out;

    display: none;
}

.next, .active {
    display: block;
}

.next {
    position: absolute;
    top: 0;

    width: 100%;
}

/* animation selectors */
.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    } to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    } to {
        left: 0;
    }
}
/* END of animation selectors */

.project__container {
    display: flex;
    flex-direction: column;
}

.project__desc-show {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 10px;
    margin-bottom: 10px;

    font-weight: 700;
    color: #9da5b4;

    background: #31363f;
    border: 1px solid #d6d8da;
    cursor: pointer;
    opacity: 0.8;
    z-index: 6;
}

.project__desc-show svg {
    opacity: 0.6;
}

.project__desc-show:hover,
.project__desc-show:focus {
    opacity: 1;
}

.project__desc-show p {
    margin: 0;
    padding: 0;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
    line-height: 30px;    
}

.project__desc-show svg {
    background-color: transparent;
    transform: rotate(90deg);
}

.project__link {
    text-decoration: none;
}

.project__img {
    display: block;
    width: 100%;
}

.project__desc {
    position: absolute;
    top: -300px;
    left: 0;

    padding: 10px 30px 10px 20px;
    
    text-align: left;

    background-color: #31363f;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, .3);
    z-index: 5;

    transition: top 1s;
}

.project__tap {
    position: absolute;
    top: 60px;
    right: 10px;

    max-width: 130px;
    padding: 5px;

    font-size: 14px;
    line-height: 16px;
    color: #31363f;

    background-color: rgba(255, 255, 255, .5);
    border: 1px solid #d6d8da;
    border-radius: 15px;

    z-index: 2;
}

.project__title {
    border-bottom: 1px solid #d6d8da;
}

.project__desc-list {
    margin-top: 20px;

    list-style: inside;
}

.slider__form {
    padding: 1px;
}

.checkbox:focus ~ .project__desc-show {
    outline: 1px solid rgb(9, 120, 247);
}

.checkbox--repair:checked ~ .project__desc--repair {
    top: 60px;
}

.checkbox--theyallow:checked ~ .project__desc--theyallow {
    top: 60px;
}

@media(min-width: 800px) {
    header {
        flex-direction: row;
    }

    .info__photo {
        margin-right: 50px;
    }

    .arrow {
        display: block;
    }

    .project__container {
        flex-direction: row;
        justify-content: space-around;
    }

    .project__desc-show {
        display: none;
    }

    .project__desc {
        position: static;
        
        padding: 10px 30px 10px 20px;
    
        background-color: transparent;
        box-shadow: none;
        z-index: 5;
    }

    .project__tap {
        top: 0;
        right: 10%;
    }
}


@media(min-width: 1000px) {
    
    .project__desc {
        padding-left: 0;
        padding-right: 0;
    }
}