body {
    max-width: 1000px;
    margin: 0 auto;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    text-align: left;
    color: #9da5b4;

    background-color: #24292e;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;

    color: #d6d8da;
}

h1 {
    margin-bottom: 30px;

    font-size: 32px;
    line-height: 36px;
}

h2 {
    font-size: 25px;
    line-height: 30px;
}

a {
   font-family: 'Ubuntu Mono', monospace;
   line-height: 30px;
   color: #d6d8da;
   text-decoration: none;
}

li a {
    border-bottom: 1px solid #d6d8da;
}

ul {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 15px;

    font-size: 20px;
    line-height: 30px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px 15px;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.info__accounts {
    text-align: center;
}

a.info__github, a.info_telegram {
    border: none;
}

.education {
    padding: 20px;
    margin: 0 auto;
}

.education__list {
    list-style: none;
}

.projects {
    padding: 10px;
    margin: 0 auto;
}

.projects {
    padding-bottom: 50px;
}

.education__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px 10px 10px;
    margin-bottom: 15px;

    color: #d6d8da;
    
    background: transparent;
    border: 1px solid #d6d8da;
    cursor: pointer;
    opacity: 0.8;
}

.education__title:hover,
.education__title:focus {    
    background-color: rgba(255, 255, 255, .1);
    opacity: 1;
}

.education__arrow {
    transform: rotate(90deg);
}


.projects__title {
    padding: 10px 30px 10px 10px;
    margin-bottom: 10px;
    
    border-bottom: 1px solid #d6d8da;
}

.slider {
    position: relative;
}

.slider__img {
    width: 100%;
    margin: 0 auto;

    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 45%;

    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    border-radius: 50%;

    opacity: 0.3;
    cursor: pointer;

    z-index: 2;
}

.arrow:hover, .arrow:focus, .arrow:active {
    background-color: rgba(255, 255, 255, .1);
    opacity: 1;
}

.arrow__prev {
    left: 0px;
}

.arrow__next {
    right: 0px;
}

.arrow__prev-icon {
    transform: rotate(180deg);
}

.project__wrap {
    text-align: center;
}

.project__desc-show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px 10px 10px;
    margin-bottom: 10px;

    font-weight: 700;
    color: #9da5b4;

    background: transparent;
    border: 1px solid #d6d8da;
    cursor: pointer;
    opacity: 0.8;
}

.project__desc-show:hover,
.project__desc-show:focus {
    background-color: rgba(255, 255, 255, .1);
    opacity: 1;
}

.project__desc-show p {
    margin: 0;
    padding: 0;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 24px;
    line-height: 30px;
    
}

.project__desc-show svg {
    transform: rotate(90deg);
}

.project__link {
    text-decoration: none;

    object-fit: cover;
}

.project__img {
    width: 100%;
    max-width: 600px;

    object-fit: cover;
}

.project__desc {
    padding: 10px;

    display: none;
}

.project__tap {
    position: absolute;
    bottom: 0;
    right: 12%;

    max-width: 130px;
    padding: 5px;

    font-size: 14px;
    line-height: 16px;

    background-color: rgba(255, 255, 255, .1);
    border: 1px solid #d6d8da;
    border-radius: 15px;

    z-index: 2;
}

.project__title {
    border-bottom: 1px solid #d6d8da;
}

.project__desc-list {
    margin-top: 20px;

    list-style: inside;
}

@media(min-width: 800px) {
    header {
        flex-direction: row;
    }

    .info__photo {
        margin-right: 50px;
    }
    
    .project__wrap {
        position: relative;

        display: flex;
        justify-content: space-around;
    }

    .project__img {    
        object-fit: contain;
    }

    .project__desc-show {
        display: none;
    }

    .project__desc {
        display: block;
        text-align: left;
    }
}